@import "../bower_components/bootstrap/less/bootstrap.less";
@import "../bower_components/font-awesome/less/font-awesome.less";

@fa-font-path: "../bower_components/font-awesome/fonts/";
@fa-css-prefix: icon;

@bg-image: "http://lorempixel.com/g/600/600/nature/3";

@sidebar-color-background: rgba(0, 0, 0, 0.3);
@sidebar-color: #FFFFFF;
@sidebar-spacing: 20px;
@box-color-background: rgba(255, 255, 255, 0.3);

@main-color-background: #FFFFFF;
@main-color: rgba(90, 90, 90, 1);
@main-color-satusbar-text: #FFFFFF;
@main-color-satusbar-background: rgba(200, 200, 200, 0.8);
@main-color-satusbar-button-background: rgba(215, 215, 215, 0.8);
@main-color-satusbar-button-text: rgba(115, 115, 115, 1);
@main-color-recommendation: rgba(123, 191, 157, 1);

@main-box-margin: @grid-gutter-width;

body {
  padding-top: @navbar-height;
  background-image: url(@bg-image);
  background-size: 100%;
}

.sidebox {
  background-color: @sidebar-color-background;
  color: @sidebar-color;
}

.small-font {
  font-size: @font-size-small;
}

div.sidebar {
  div.user {
    padding: @padding-base-vertical @padding-base-horizontal;
    text-align: center;
    img {
      margin-top: @sidebar-spacing;
      border: 4px solid @sidebar-color;
    }
    h4, h5 {
      font-weight: normal;
      .small-font;
    }
  }

  .menu-border {
    border: 1px solid rgba(255, 255, 255, 0.5);
  }

  div.menu {
    padding: 0;
    margin: @sidebar-spacing 0;
    div.btn-group:first-child {
      .menu-border;
      border-width: 0 1px 0 0;
    }
    button.btn-default {
      .small-font;
      background: transparent;
      border: 0 none;
      color: @sidebar-color;
      text-transform: uppercase;
      white-space: normal;
      padding: @sidebar-spacing / 2 @sidebar-spacing;
    }
    .menu-border;
    border-width: 1px 0;
  }
  div.user-details {
    div.item {
      padding: @padding-base-vertical @padding-base-horizontal;
    }
    h4 {
      font-weight: bold;
      .small-font;
      display: inline;
    }
    p {
      .small-font;
      display: inline;
    }
  }
  .sidebox;
}

@media (min-width: @screen-sm-min) {
  .navbar-form .form-control {
    margin-bottom: 0;
  }

  div.sidebar {
    position: fixed;
    top: @navbar-height;
    bottom: 0;
    left: 0;
    z-index: @zindex-navbar;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

@timeline-icon-size: 50px;

div.main {
  & > .row {
    padding: 15px;
  }
  div.status {
    .btn, input {
      height: 3.5em;
      border-radius: 0;
      border: 0 none;
      .small-font;
    }
    .btn {
      text-transform: uppercase;
      background: @main-color-satusbar-button-background;
      color: @main-color-satusbar-button-text;
    }

    input {
      &::-webkit-input-placeholder {
        color: @main-color-satusbar-text;
      }
      &:-moz-placeholder {
        /* Firefox 18- */
        color: @main-color-satusbar-text;
      }
      &::-moz-placeholder {
        /* Firefox 19+ */
        color: @main-color-satusbar-text;
      }
      &:-ms-input-placeholder {
        color: @main-color-satusbar-text;
      }
    }
    input {
      background: @main-color-satusbar-background;
    }
  }

  div.box {
    position: relative;
    background-color: @main-color-background;
    border-top: 3px solid darken(@main-color-background, 5%);
    font-size: @font-size-small;
    margin-bottom: @main-box-margin / 2;
    margin-top: @main-box-margin / 2;
    color: @main-color;
    padding: @padding-small-vertical @padding-small-horizontal;
    h4 {
      font-weight: normal;
    }
    a.more {
      color: @main-color;
      text-align: right;
      display: block;
      font-size: 0.92em;
      position: absolute;
      right: @main-box-margin / 2;
      bottom: @main-box-margin / 3;
    }
    &.connections {
      p {
        color: @main-color-recommendation;
      }
      span.connections {
        font-size: 7em;
        line-height: 1em;
        color: @main-color;
        display: block;
        margin-right: @main-box-margin / 3;
      }
      span.recommendations {
        font-size: 3em;
        display: inline-block;
        margin-top: @main-box-margin / 3;
      }
      span.icon {
        font-size: 1.5em;
        color: @gray-lighter;
      }
      ul {
        overflow: auto;
        list-style: none;
        padding: 0;
        li {
          margin: @main-box-margin / 7;
          display: block;
          float: left;
        }
      }
    }
    &.summary {
      div.content {
      }
    }
    &.photo-album {
      img {
        visibility: hidden;
      }
      color: @main-color-background;
    }
    &.events, &.timeline {
      span.bullet, div.bullet {
        display: table-cell;
        vertical-align: middle;
        padding: @main-box-margin / 3;
        width: 2.5em;
      }
      span.icon {
        font-size: 1.8em;
      }
      h4 {
        margin-bottom: @main-box-margin / 7;
      }
      h5 {
        font-size: 0.9em;
        color: lighten(@main-color, 20%);
        margin-top: 0;
      }
      div.list-group {
        display: table;
        width: 100%;
      }
      a.list-group-item {
        display: table-row;
        padding-top: @main-box-margin / 7;
        padding-bottom: @main-box-margin / 7;
      }
      div.content {
        display: table-cell;
      }

    }

    &.timeline {
      margin-top: 1px;
      a.list-group-item {
        border: 0 none;
      }
      div.bullet, a:first-child div.bullet:after {
        background:
          url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAADICAIAAABecOdVAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3goSBBsE/RL3FQAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAAAL0lEQVRYw+3JMREAMAgEMMC/uJdUBSCgl6zpJLWbOmmttdZaa6211lprrbXW+qd+DCoEALIYLRgAAAAASUVORK5CYII=)
        repeat-y
        center center;
      }
      span.icon {
        position: relative;
        z-index: 10;
      }
      a:first-child div.bullet {
        background: none;
        position: relative;
      }
      a:first-child div.bullet:after {
        content:"";
        position:absolute;
        z-index: 0;
        width: @timeline-icon-size;
        display: block;
        height: @timeline-icon-size * 3;
        content: "";
        position: absolute;
      }


      span.icon {
        background-color: #666666;
        display: block;
        width: @timeline-icon-size;
        height: @timeline-icon-size;
        line-height: @timeline-icon-size;
        padding-left: (@timeline-icon-size - 24px) / 2;
        color: @main-color-background;
        border: 2px solid #FFFFFF;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
        .img-circle;
      }
      span.icon-heart {
        background-color: #FF0000;
      }
      span.icon-pencil {
        background-color: rgba(112, 202, 158, 1);
      }
      span.icon-flag {
        background-color: rgba(133, 150, 188, 1)
      }
      div.content h4 {
        font-weight: bold;
        font-size: @font-size-small;
      }
      p, h5 {
        color: lighten(@main-color, 40%);
      }
    }
  }

div.boxes {
  div.box {
    height: 260px;
    &.summary {
      div.content {
        height: 180px;
        overflow: hidden;
      }
    }
  }
}

}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

